<header class="hover:text-white text-white body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/Home/index.html" class="mr-5 hover:text-white text-white">Главная</a>
            <a href="/Listing/index.html" class="mr-5 hover:text-white text-white">Объявления</a>
            <a href="dashboard.html" class="mr-5 hover:text-white text-white">Панель управления продавцом</a>
            <a href="profile.html" class="mr-5 hover:text-white text-white">Профиль покупателя</a>
            <a href="/Login/index.html" class="mr-5 hover:text-white text-white">Авторизация/Регистрация</a>
        </nav>
    </div>
    <div id="user-profile">
        <!-- Профиль пользователя или кнопки входа/регистрации будут вставлены сюда -->
    </div>
</header>
