body {
    background-color: #0b0c10;
    color: #c5c6c7;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
}

.order-details-container {
    background: #1f2833;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 30px auto;
}

.order-header h1
{
    color: #fcfcfc;
}
.order-header h2 {
    color: #08fc00;
}
.paid-item,
.game-name,
.short-description,
.detailed-description {
    background-color: #0b0c10;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

hr {
    border: none;
    height: 1px;
    background-color: #c5c6c7;
    margin: 20px 0;
}

.creation-info p,
.seller-review h3,
.seller-review textarea {
    margin-bottom: 10px;
}

.seller-review textarea {
    width: 100%;
    background-color: #0b0c10;
    border: 2px solid #45a29e;
    padding: 10px;
    border-radius: 4px;
    color: #c5c6c7;
}

.rating {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin-bottom: 10px;
}

.publish-button {
    background-color: #446eac;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #0b0c10;
    cursor: pointer;
    text-transform: uppercase;
}

.publish-button:hover {
    background-color: #66fcf1;
}

.copy-button {
    padding: 5px 10px;
    background-color: #45a29e;
    border: none;
    border-radius: 4px;
    color: #0b0c10;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.copy-button:hover {
    background-color: #66fcf1;
}

.amount {
    color: #ffffff;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: center;
}

.star {
    font-size: 40px;
    cursor: pointer;
    color: lightgray;
}

.star:hover,
.star:hover ~ .star {
    color: orange;
}

.review-card {
    max-width: 600px; /* Максимальная ширина карточки */
    margin: 20px auto; /* Отступы сверху и снизу, авто по бокам для центрирования */
    padding: 20px; /* Внутренние отступы */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень карточки */
    border-radius: 8px; /* Скругление углов */
    background: #0b0c10;
  }
  
  .review-header {
    display: flex; /* Сделать контейнер флексом */
    align-items: center; /* Центрировать содержимое по вертикали */
    margin-bottom: 15px; /* Отступ снизу */
  }
  
  .review-info {
    flex-grow: 1; /* Пусть review-info занимает все доступное пространство */
  }
  
  .review-author {
    font-size: 1.2em; /* Увеличить размер шрифта для автора */
    font-weight: bold; /* Сделать текст жирным */
  }
  
  .review-date {
    color: #666; /* Серый цвет текста для даты */
  }
  
  .review-content {
    margin-bottom: 15px; /* Отступ снизу */
  }
  
  .review-rating {
    color: orange; /* Цвет звездочек */
    font-size: 1.5em; /* Увеличить размер шрифта для звезд */
    margin-bottom: 15px; /* Отступ снизу */
  }
  
  .review-actions button {
    background: blue; /* Синий фон для кнопок */
    color: white; /* Белый цвет текста для кнопок */
    border: none; /* Убрать границу */
    padding: 10px 20px; /* Отступы внутри кнопок */
    border-radius: 5px; /* Скругление углов кнопки */
    margin-right: 10px; /* Отступ справа */
    cursor: pointer; /* Курсор в виде указателя */
  }
  
  .review-actions button.delete-button {
    background: red; /* Красный фон для кнопки "Удалить" */
  }
  
  .review-actions button:hover {
    opacity: 0.8; /* Немного прозрачности при наведении */
  }
  